[Unit]
Description=MailHog Service
After=network.service

[Service]
Type=simple
ExecStart=/usr/bin/env {{ mailhog_path }}/mailhog -api-bind-addr 0.0.0.0:{{ mailhog_web_port }} -ui-bind-addr 0.0.0.0:{{ mailhog_web_port }} -smtp-bind-addr 0.0.0.0:{{ mailhog_smtp_port }}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mailhog
Restart=always

[Install]
WantedBy=multi-user.target
